
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

body {

  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  line-height: 1.2;
}

h1 {
  font-size: 32px;
}

a {
  color: rgb(20,20,20);
  text-decoration:none;
}

a:hover {
  color: #000;
}

p {
  margin: 36px 0;
}

.btn-link {
  background-color:#fff;
  color: #000;
  border: 1px solid #000;
  padding: 12px 18px;
}

.btn-link:hover {
  background-color:#000;
  border: 1px solid #000;
  color: #fff;
}

.container {
  width:800px;
  margin: 0 auto;
}

.card {
  box-sizing: border-box;
  width: 90%;
  padding: 50px;
  margin:50px auto;
  background-color: #fff;
  text-align:center;
  border-radius: 4px;
  box-shadow: 0 0 6px #eee;
}

#profile-photo {
  width: 200px;
  height:200px;
  border-radius:50%;
}

.list-inline {
  list-style:none;
  padding:0;
}

.list-inline > li {
  display: inline-block;
  margin: 0 8px;
  font-size: 24px;
}


.list-inline > li a:hover {
  color: #ccc;
}

/* RESPONSIVE */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .card {
    padding: 30px 20px;
  }

}
